@import "./_base.scss";

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  background: #F7F8FD;
}

/* stylelint-disable */
#app {
  height: 100%;
}
/* stylelint-enable */
ul,
div {
  margin: 0;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
em,
b,
strong {
  font-weight: 100;
}

em {
  font-style: normal;
}
