.Home {
  text-align: center;

}
.main {
  position: absolute;
  width: 900px;
  height: 420px;
  overflow: hidden;
  left: 50%;
  top: 50%;
  margin: -210px 0 0 -450px;
  z-index: 2;
}
.main ul {
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
}
.main ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 900px;
  height: 420px;
  list-style-type: none;
  visibility: hidden;
  cursor: pointer;
  overflow: hidden;
  opacity: 0;
  transition: all 1s;
  z-index: 2;
}
.img_1 {
  background: url(./../../images/life.jpg) no-repeat center;
  /*-webkit-background-size: 100%;*/
  /*background-size: 1920px 950px;*/
}
.img_2 {
  background: #fff;
}
.img_2 a {
  text-decoration: none;
  color: #000;
}
.img_2 span:nth-child(1) {
  margin-top: 70px;
  display: block;
  font-size: 144px;
}
.img_2 span:nth-child(2) {
  display: block;
  font-size: 100px;
  opacity: .2;
}
.img_3 {
  background: url(./../../images/dress.jpg) no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.img_4 {
  background: url(./../../images/chest.jpg) no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.bottom {
  position: absolute;
  width: 900px;
  left: 50%;
  bottom: 85px;
  margin: 0 0 0 -450px;
  z-index: 1;
}
.text {
  position: absolute;
  width: 900px;
  left: 50%;
  top: 50%;
  margin: 220px 0 0 -450px;
  font-size: 24px;
  /*opacity: 0;*/
  /*transition: opacity 1s;*/
}
.spots {
  position: absolute;
  overflow: hidden;
}
.spots ul {
  padding: 0;
  margin: 0;
}
.spot {
  position: relative;
  display: inline-block;
  margin: 0 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #585858;
  cursor: pointer;
}
.cur {
  position: relative;
  display: inline-block;
  margin: 0 4px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #FF0000;
  cursor: pointer;
}
.line {
  position: absolute;
  right: 0;
  bottom: -12px;
  width: 0px;
  height: 1px;
  background: #D8D8D8;
  transition: width 2s;
}
.bg_1 {
  /*opacity: 0;*/
  position: absolute;
  width: 900px;
  height: 420px;
  left: 50%;
  top: 50%;
  margin: -210px 0 0 -450px;
  background :transparent  url(./../../images/life.jpg)  no-repeat center;
  /*background: url(./../../images/life.jpg) no-repeat center bottom;*/
  /*background-size: 1920px 950px;*/
  z-index: 1;
  /*transition: background-size 2s;*/
  transition: all 1s;
  cursor: pointer;
}
.bg_2 {
  /*opacity: 0;*/
  position: absolute;
  width: 900px;
  height: 420px;
  left: 50%;
  top: 50%;
  margin: -210px 0 0 -450px;
  background :transparent  url(./../../images/none.jpg)  no-repeat center;
  /*background: url(./../../images/life.jpg) no-repeat center bottom;*/
  /*background-size: cover;*/
  z-index: 1;
  /*transition: background-size 2s;*/
  transition: all 1s;
  cursor: pointer;
}
.bg_3 {
  /*opacity: 0;*/
  position: absolute;
  width: 900px;
  height: 420px;
  left: 50%;
  top: 50%;
  margin: -210px 0 0 -450px;
  background :transparent  url(./../../images/dress.jpg)  no-repeat center;
  /*background: url(./../../images/life.jpg) no-repeat center bottom;*/
  /*background-size: cover;*/
  z-index: 1;
  /*transition: background-size 2s;*/
  transition: all 1s;
  cursor: pointer;
}
.bg_4 {
  /*opacity: 0;*/
  position: absolute;
  width: 900px;
  height: 420px;
  left: 50%;
  top: 50%;
  margin: -210px 0 0 -450px;
  background :transparent  url(./../../images/chest.jpg)  no-repeat center;
  /*background: url(./../../images/life.jpg) no-repeat center bottom;*/
  /*background-size: cover;*/
  z-index: 1;
  /*transition: background-size 2s;*/
  transition: all 1s;
  cursor: pointer;
}
.bg_4 {
  /*opacity: 0;*/
  position: absolute;
  width: 900px;
  height: 420px;
  left: 50%;
  top: 50%;
  margin: -210px 0 0 -450px;
  /*background :transparent  url(./../../images/42c.jpg)  no-repeat center;*/
  /*background: url(./../../images/life.jpg) no-repeat center bottom;*/
  background-size: cover;
  z-index: 1;
  /*transition: background-size 2s;*/
  transition: all 1s;
  cursor: pointer;
}
.bg a {
  display: block;
  width: 100%;
  height: 100%;
}
.lang {
  position: absolute;
  right: 0;
  top: -25px;

}
.lang a {
  text-decoration: none;
  color: #000;
}
.lang .cn {
  padding: 0 4px;
  position: relative;
  top: -2px;
  display: inline-block;
  font-size: 20px;
  margin-right: 10px;
  opacity: 1;
}
.lang .en {
  padding: 4px;
  display: inline-block;
  font-size: 20px;
}
.langCur {
  background: #000;
  border-radius: 50%;
}
.langCur a {
  color: #fff;
}
.spot_1 {
  top: 50px;
  transition: top 1.2s;
}
.spot_2 {
  top: 50px;
  transition: top 1.4s;
}
.spot_3 {
  top: 50px;
  transition: top 1.6s;
}
.spot_4 {
  top: 50px;
  transition: top 1.8s;
}
.spot_5 {
  top: 50px;
  transition: top 2s;
}
