.life {
  /*position: relative;*/
  width: 100%;
  /*height: 100%;*/
  overflow-x: hidden;
  font-family: 'PingFang SC';
  background: rgba(0, 0, 0, 0);
}
.life ul {
  width: 100%;
  /*height: 100%;*/
  padding: 0;
  margin: 0;
}
.life li {
  display: none;
  width: 100%;
  /*height: 100%;*/
  list-style-type: none;
}
.life .content_cur {
  display: block;
}
.banner {
  position: relative;
  padding-top: 50%;
  width: 100%;
  /*height: 100%;*/
  z-index: 1;
}
.content_life {
  background: url(./../../images/life.jpg) no-repeat center;
  background-size: cover;
  background-attachment:fixed;
}
.content_fuel {
  background: url(./../../images/sub_fuel.jpg) no-repeat center;
  background-size: cover;
  background-attachment:fixed;
}
.content_intoxic {
  background: url(./../../images/intoxic.jpg) no-repeat center;
  background-size: cover;
  background-attachment:fixed;
}
.content_wrold {
  background: url(./../../images/wrold.jpg) no-repeat center;
  background-size: cover;
  background-attachment:fixed;
}
.content_limit {
  background: url(./../../images/limit.jpg) no-repeat center;
  background-size: cover;
  background-attachment:fixed;
}
.content_42c {
  background: url(./../../images/42c.jpg) no-repeat center;
  background-size: cover;
  background-attachment:fixed;
}
.banner_fuel {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  z-index: 1;
}
.banner_intoxic {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  z-index: 1;
}
.banner_wrold {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  z-index: 1;
}
.banner_limit {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  z-index: 1;
}
.banner_42c {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  z-index: 1;
}
.life_img {
  width: 900px;
  margin: 0 auto;
  /*padding-left: 100px;*/
  background-color: #fff;
}
.life_1 {
  width: 900px;
  height: 784px;
  /*margin: 0px auto 0 auto;*/
  background: url(./../../images/life_1.jpg) no-repeat center right;
  background-size: auto 100%;
}
.life_2 {
  width: 900px;
  height: 1550px;
  margin: 15px auto 0 auto;
  background: url(./../../images/life_2.jpg) no-repeat center right;
  background-size: auto 100%;
}
.life_3 {
  width: 900px;
  height: 620px;
  margin: 30px auto 0 auto;
  background: url(./../../images/life_3.jpg) no-repeat center right;
  background-size: auto 100%;
}
.life_4 {
  width: 900px;
  height: 1142px;
  margin: 30px auto 0 auto;
  background: url(./../../images/life_4.jpg) no-repeat center right;
  background-size: auto 100%;
}
.life_5 {
  width: 900px;
  height: 723px;
  margin: 30px auto 0 auto;
  background: url(./../../images/life_5.jpg) no-repeat center right;
  background-size: auto 100%;
}
.life_6 {
  width: 900px;
  height: 880px;
  margin: 30px auto 0 auto;
  background: url(./../../images/life_6.jpg) no-repeat center right;
  background-size: auto 100%;
}
.life_7 {
  width: 900px;
  margin: 0 auto 0px auto;
}
.life_text_4 {
  border-left: 1px #979797 solid;
  border-right: 1px #979797 solid;
  padding: 20px 0 0 20px;
  margin: 0 0 0 0px;
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
  background: #fff;
  font-family: 'PingFang SC';
}
.life_text_5 {
  margin: 0 0 0 0px;
  padding: 30px 10px 20px 20px;
  font-size: 24px;
  border-left: 1px #979797 solid;
  border-right: 1px #979797 solid;
  border-bottom: 1px #979797 solid;
  color: #787878;
  font-family: 'PingFang SC';
  background: #fff;
}
.fuel_1 {
  width: 1000px;
  height: 5423px;
  margin: 0px auto 0 auto;
  background: url(./../../images/fuel_1.jpg) no-repeat center right;
  background-size: auto 5424px;
}
.fuel_2 {
  width: 1000px;
  margin: 0 auto 0px auto;
}
.fuel_text_1 {
  position: absolute;
  width: 515px;
  height: 132px;
  font-size: 30px;
  color: #fff;
  margin: 1120px 0 0 170px;
  font-family: 'PingFang SC';
}
.fuel_text_1_en {
  font-size: 24px;
  line-height: 1.6;
}
.fuel_text_2 {
  position: absolute;
  width: 515px;
  height: 132px;
  font-size: 30px;
  color: #fff;
  margin: 2285px 0 0 280px;
  font-family: 'PingFang SC';
}
.fuel_text_2_en {
  margin-top: 2275px;
  font-size: 24px;
  line-height: 1.5;
}
.fuel_text_3 {
  position: absolute;
  width: 400px;
  height: 132px;
  font-size: 30px;
  color: #fff;
  margin: 4220px 0 0 310px;
  text-align: center;
  font-family: 'PingFang SC';
}
.fuel_text_3_en {
  margin-top: 4205px;
  font-size: 24px;
  line-height: 1.5;
}
.fuel_text_4 {
  /*border-right: 1px #979797 solid;*/
  padding: 20px 0 0 20px;
  margin: 0 0px 0 12px;
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
  font-family: 'PingFang SC';
  background-color: #fff;
}
.fuel_text_5 {
  margin: 0 0px 0 12px;
  padding: 30px 10px 20px 20px;
  font-size: 24px;
/*  border-left: 1px #979797 solid;
  border-right: 1px #979797 solid;*/
  border-bottom: 1px #979797 solid;
  color: #787878;
  font-family: 'PingFang SC';
  background-color: #fff;
}

.intoxic_img {
  width: 900px;
  margin: 0 auto;
  background-color: #fff;
}
.intoxic_1 {
  width: 900px;
  height: 1163px;
  margin: 45px auto 0 auto;
  background: url(./../../images/intoxic_1.jpg) no-repeat center right;
  background-size: auto 100%;
}
.intoxic_2 {
  width: 900px;
  height: 840px;
  margin: 0 auto 0 auto;
  background: url(./../../images/intoxic_2.jpg) no-repeat center right;
  background-size: auto 100%;
}
.intoxic_3 {
  width: 900px;
  height: 1481px;
  margin: 0px auto 0 auto;
  background: url(./../../images/intoxic_3.jpg) no-repeat center right;
  background-size: auto 100%;
}
.intoxic_4 {
  width: 900px;
  height: 1553px;
  margin: 20px auto 0 auto;
  background: url(./../../images/intoxic_4.jpg) no-repeat center;
  background-size: auto 100%;
}
.intoxic_5 {
  width: 900px;
  height: 959px;
  margin: 20px auto 0 auto;
  background: url(./../../images/intoxic_5.jpg) no-repeat center right;
  background-size: auto 100%;
}
.intoxic_6 {
  width: 900px;
  margin: 0 auto 0px auto;
}
.intoxic_text_1 {
  width: 900px;
  margin: 50px auto;
  padding-left: 0px;
  font-size: 40px;
  text-align: center;
}
.intoxic_text_1_en {
  font-size: 24px;
}
.intoxic_text_2 {
  width: 900px;
  margin: 50px auto;
  padding-left: 0px;
  font-size: 40px;
  text-align: center;
}
.intoxic_text_2_en {
  font-size: 24px;
}
.intoxic_text_3 {
  position: absolute;
  width: 394px;
  text-align: center;
  background: #fff;
  font-size: 30px;
  margin: 590px 0 0 350px;
  padding: 15px 0;
}
.intoxic_text_3_en {
  font-size: 24px;
  background: none;
}
.intoxic_text_4 {
  position: absolute;
  font-size: 48px;
  margin: 90px 0 0 50px;
  color: #fff;
}
.intoxic_text_5 {
  position: absolute;
  width: 800px;
  font-size: 24px;
  margin: 270px 0 0 50px;
  color: #fff;
}
.intoxic_text_6 {
  padding: 20px 0 0 20px;
  margin: 0 0 0 0px;
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
  background: #EFEFEF;
  font-family: 'PingFang SC';
}
.intoxic_text_7 {
  margin: 0 0 0 0px;
  padding: 30px 10px 20px 20px;
  font-size: 24px;
  color: #787878;
  background: #EFEFEF;
  font-family: 'PingFang SC';
}

.wrold_img {
  width: 900px;
  margin: 0 auto;
  background-color: #fff;
}
.wrold_1 {
  width: 900px;
  height: 959px;
  margin: 45px auto 0 auto;
  background: url(./../../images/wrold_1.jpg) no-repeat center right;
  background-size: auto 100%;
}
.wrold_2 {
  width: 900px;
  height: 705px;
  margin: 0 auto 0 auto;
  background: url(./../../images/wrold_2.jpg) no-repeat center;
  background-size: auto 100%;
}
.wrold_3 {

  width: 900px;
  height: 1120px;
  margin: 0px auto 0 auto;
  background: url(./../../images/wrold_3.jpg) no-repeat center right;
  background-size: auto 100%;
}
.wrold_4 {
  position: relative;
  top: -50px;
  width: 810px;
  height: 1053px;
  margin: 0px auto 0 auto;
  background: url(./../../images/wrold_4.jpg) no-repeat center;
  background-size: auto 100%;
}
.wrold_5 {
  width: 900px;
  height: 1597px;
  margin: 0px auto 0 auto;
  background: url(./../../images/wrold_5.jpg) no-repeat center right;
  background-size: auto 100%;
}
.wrold_6 {
  width: 900px;
  height: 828px;
  margin: 20px auto 0 auto;
  background: url(./../../images/wrold_6.jpg) no-repeat center right;
  background-size: auto 100%;
}
.wrold_7 {
  width: 900px;
  margin: 0 auto 0px auto;
  color: #fff;
}
.world_text_1 {
  width: 900px;
  margin: 50px auto;
  padding-left: 0px;
  font-size: 40px;
  text-align: center;
}
.world_text_1_en {
  font-size: 26px;
}
.world_text_2 {
  position: absolute;
  width: 900px;
  font-size: 40px;
  margin: 1150px 0 0 0px;
  color: #fff;
  text-align: center;
  z-index: 3;
}
.world_text_2_en {
  font-size: 48px;
  text-align: left;
  margin-top: 1150px;
  margin-left: 100px;
}
.world_text_3 {
  padding: 20px 0 0 20px;
  margin: 0 0 0 0px;
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
  background: #000;
  font-family: 'PingFang SC';
}
.world_text_4 {
  margin: 0 0 0 0px;
  padding: 30px 10px 20px 20px;
  font-size: 24px;
  color: #787878;
  background: #000;
  font-family: 'PingFang SC';
}

.limit_img {
  width: 804px;
  margin: 0 auto;
  background-color: #fff;
}
.limit_1 {
  width: 804px;
  height: 513px;
  margin: 45px auto 0 auto;
  background: url(./../../images/limit_1.jpg) no-repeat center;
  background-size: auto 101%;
}
.limit_2 {
  width: 804px;
  height: 518px;
  margin: 0 auto 0 auto;
  background: url(./../../images/limit_2.jpg) no-repeat center;
  background-size: auto 101%;
}
.limit_3 {
  width: 804px;
  height: 517px;
  margin: 20px auto 0 auto;
  background: url(./../../images/limit_3.jpg) no-repeat center;
  background-size: auto 101%;
}
.limit_4 {
  width: 804px;
  height: 428px;
  margin: 0 auto 0 auto;
  background: url(./../../images/limit_4.jpg) no-repeat center;
  background-size: auto 101%;
}
.limit_5 {
  width: 804px;
  height: 503px;
  margin: 20px auto 0 auto;
  background: url(./../../images/limit_5.jpg) no-repeat center;
  background-size: auto 101%;
}
.limit_6 {
  width: 804px;
  height: 526px;
  margin: 0 auto 0 auto;
  background: url(./../../images/limit_6.jpg) no-repeat center;
  background-size: auto 101%;
}
.limit_7 {
  width: 804px;
  height: 534px;
  margin: 20px auto 0 auto;
  background: url(./../../images/limit_7.jpg) no-repeat center;
  background-size: auto 102%;
}
.limit_8 {
  width: 804px;
  height: 401px;
  margin: 0 auto 0 auto;
  background: url(./../../images/limit_8.jpg) no-repeat center;
  background-size: auto 102%;
}
.limit_9 {
  width: 804px;
  height: 518px;
  margin: 20px auto 0 auto;
  background: url(./../../images/limit_9.jpg) no-repeat center;
  background-size: 810px 523px;
}
.limit_10 {
  width: 804px;
  height: 475px;
  margin: 0 auto 0 auto;
  background: url(./../../images/limit_10.jpg) no-repeat center;
  background-size: auto 480px;
}
.limit_11 {
  width: 804px;
  height: 515px;
  margin: 20px auto 0 auto;
  background: url(./../../images/limit_11.jpg) no-repeat center;
  background-size: auto 101%;
}
.limit_12 {
  width: 804px;
  height: 466px;
  margin: 0 auto 0 auto;
  background: url(./../../images/limit_12.jpg) no-repeat center;
  background-size: auto 101%;
}
.limit_13 {
  width: 804px;
  height: 752px;
  margin: 20px auto 0 auto;
  background: url(./../../images/limit_13.jpg) no-repeat center;
  background-size: 804px 100%;
}
.limit_14 {
  width: 804px;
  margin: 20px auto 0px auto;
}
.limit_text_1 {
  padding: 20px 0 0 20px;
  margin: 0 0 0 0px;
  font-size: 36px;
  line-height: 1.5;
  font-weight: bold;
  background: #E8E8E8;
  font-family: 'PingFang SC';
}
.limit_text_2 {
  margin: 0 0 0 0px;
  padding: 30px 10px 20px 20px;
  font-size: 24px;
  color: #787878;
  background: #E8E8E8;
  font-family: 'PingFang SC';
}

.c42c_img {
  width: 963px;
  margin: 0 auto;
  background-color: #fff;
}
.c42c_1 {
  width: 963px;
  height: 2344px;
  margin: 0 auto 0 auto;
  background: url(./../../images/42c_1.jpg) no-repeat center;
  background-size: auto 100%;
}
.c42c_2 {
  width: 963px;
  height: 1179px;
  margin: 20px auto 0 auto;
  background: url(./../../images/42c_2.jpg) no-repeat center;
  background-size: auto 100%;
}
.c42c_3 {
  width: 963px;
  height: 904px;
  margin: 0 auto 0 auto;
  background: url(./../../images/42c_3.jpg) no-repeat center;
  background-size: auto 100%;
}
.c42c_4 {
  width: 963px;
  height: 799px;
  margin: 20px auto 0 auto;
  background: url(./../../images/42c_4.jpg) no-repeat center;
  background-size: auto 799px;
}
.c42c_5 {
  width: 963px;
  margin: 0 auto 0px auto;
}
.c42c_text_1 {
  position: absolute;
  height: 770px;
  font-size: 40px;
  margin: 690px 0 0 780px;
  color: #000;
  writing-mode:vertical-rl;
}
.c42c_text_2 {
  position: absolute;
  width: 775px;
  height: 179px;
  line-height: 1.5;
  font-size: 42px;
  margin: 20px 0 0 190px;
  color: #000;
  text-align: center;
}
.c42c_text_2_en {
  margin-top: 0;
  font-size: 60px;
  line-height: 179px;
}
.c42c_text_3 {
  width: 1000px;
  margin: 50px auto;
  padding-left: 0px;
  font-size: 40px;
  text-align: center;
}
.c42c_text_4 {
  padding: 50px 0 50px 20px;
  margin: 20px 0 0 0px;
  font-size: 36px;
  line-height: 1.5;
  background: #E8E8E8;
  font-family: 'PingFang SC';
  text-align: center;
}

.sub_tabs {
  position: fixed;
  width: 1200px;
  top: 120px;
  left: 50%;
  margin: 40px 0 0 -600px;
  z-index: 3;
}
.sub_tabs ul {
  position: absolute;
  padding: 0;
  margin: 0;
}
.sub_tabs li {
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
  background: #fff;
  list-style-type: none;
  cursor: pointer;
  border-radius: 6px;
}
.sub_tabs li i {
  display: block;
  width: 82px;
  height: 82px;
  border: 4px #fff solid;
  border-radius: 6px;
}
.tab_1 {
  background: url(./../../images/tab_1.jpg) no-repeat center;
  background-size: 52px 70px;
}
.tab_2 {
  display: inline-block;
  width: 86px;
  height: 86px;
  background: url(./../../images/tab_2.jpg) no-repeat center;
  background-size: 45px 71px;
}
.tab_3 {
  display: inline-block;
  width: 86px;
  height: 86px;
  background: url(./../../images/tab_3.jpg) no-repeat center;
  background-size: 30px 71px;
}
.tab_4 {
  display: inline-block;
  width: 86px;
  height: 86px;
  background: url(./../../images/tab_4.jpg) no-repeat center;
  background-size: 34px 73px;
}
.tab_5 {
  display: inline-block;
  width: 86px;
  height: 86px;
  background: url(./../../images/tab_5.jpg) no-repeat center;
  background-size: 53px 67px;
}
.tab_6 {
  display: inline-block;
  width: 86px;
  height: 86px;
  background: url(./../../images/tab_6.jpg) no-repeat center;
  background-size: 53px 68px;
}
.tab_box li .tab_cur {
  border: 4px #f5a623 solid;
}
.tab_box li:nth-child(1) .tab_cur {
  border: 4px #f5a623 solid;
}
.bannerText {
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 27%;
  bottom: 50px;
  transition: opacity 1s;
  z-index: 2;
}
.lifeText1 {
  display: block;
  width: 100%;
  height: 45px;
  background: url(./../../images/lifeText1.png) no-repeat center left;
  background-size: 433px 45px;
}
.lifeText2 {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 66px;
  background: url(./../../images/lifeText2.png) no-repeat center left;
  background-size: 655px 66px;
}
.fuleText1 {
  display: block;
  width: 100%;
  height: 73px;
  background: url(./../../images/fuleText1.png) no-repeat center left;
  background-size: 149px 73px;
}
.fuleText2 {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 69px;
  background: url(./../../images/fuleText2.png) no-repeat center left;
  background-size: 515px 69px;
}
.intoxicText1 {
  display: block;
  width: 100%;
  height: 70px;
  background: url(./../../images/intoxicText1.png) no-repeat center left;
  background-size: 148px 70px;
}
.intoxicText2 {
  display: block;
  margin-top: 20px;
  width: 100%;
  height: 54px;
  background: url(./../../images/intoxicText2.png) no-repeat center left;
  background-size: 607px 54px;
}
.wroldText {
  display: block;
  width: 100%;
  height: 122px;
  background: url(./../../images/wroldText.png) no-repeat center left;
  background-size: 752px 122px;
}
.limitText {
  display: block;
  width: 100%;
  height: 171px;
  background: url(./../../images/limitText.png) no-repeat center left;
  background-size: 868px 171px;
}
.life_text_1 {
  position: absolute;
  width: 486px;
  height: 324px;
  font-size: 70px;
  color: #fff;
  margin: 860px 0 0 0px;
  text-align: center;
}
.life_text_1_en {
  font-size: 42px;
  text-align: left;
  line-height: 1.6;
  margin-left: 50px;
}
.life_text_2 {
  position: absolute;
  width: 416px;
  height: 363px;
  font-size: 35px;
  color: #fff;
  margin: 2060px 0 0 530px;
}
.life_text_3 {
  position: absolute;
  font-size: 36px;
  color: #fff;
  margin: 50px 0 0 60px;
}
