.Head {
    position: absolute;
    text-align: center;
    width: 1200px;
    left: 50%;
    margin: 40px 0 0 -600px;
    line-height: 76px;
    z-index: 4;
}
.Head span {
  color: #000;
  opacity: .2;
  font-size: 20px;
}
.logo {
  display: block;
  width: 92px;
  height: 76px;
  float: left;
  background: url(./../../images/logo.png) no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
}
.menu {
  display: block;
  float: right;
  margin-top: 7.5px;
  width: 45px;
  height: 30px;
  background: url(./../../images/menu.png) no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
}
