.Head {
    position: fixed;
    text-align: center;
    width: 1200px;
    left: 50%;
    margin: 40px 0 0 -600px;
    line-height: 76px;
    z-index: 4;
}
.App-header > span {
  position: relative;
  color: #000;
  opacity: .2;
  font-size: 20px;
  z-index: 9;
}
.logo {
  position: relative;
  display: block;
  width: 92px;
  height: 76px;
  float: left;
  background: url(./../../images/logo.png) no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  z-index: 9;
}
.logo2 {
  position: relative;
  display: block;
  width: 92px;
  height: 76px;
  float: left;
  background: url(./../../images/logo2.png) no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  z-index: 9;
}
.menu {
  position: relative;
  display: block;
  float: right;
  margin-top: 7.5px;
  width: 45px;
  height: 30px;
  cursor: pointer;
  z-index: 9;
}
.menu2 {
  position: relative;
  display: block;
  float: right;
  margin-top: 7.5px;
  width: 45px;
  height: 30px;
  cursor: pointer;
  z-index: 9;
}
.menu > span {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #000;
  opacity: 1;
}
.menu2 > span {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background: #fff;
  opacity: 1;
}
.menu > span:nth-child(1) {
  animation: btnOne .5s;
  transform: translate(0, 0) rotate(0deg);
}

.menu > span:nth-child(2) {
  top: 13px;
  animation: btnTwo .5s;
}

.menu > span:nth-child(3) {
  top: 26px;
  animation: btnThr .5s;
  transform: translate(0, 0) rotate(0deg);
}
.menu2 > span:nth-child(1) {
  animation: btnOne .5s;
  transform: translate(0, 0) rotate(0deg);
}

.menu2 > span:nth-child(2) {
  top: 13px;
  animation: btnTwo .5s;
}

.menu2 > span:nth-child(3) {
  top: 26px;
  animation: btnThr .5s;
  transform: translate(0, 0) rotate(0deg);
}

.active > span:nth-child(1) {
  animation: btnOneAct .5s;
  transform: translate(0, 12px) rotate(45deg);
}

.active > span:nth-child(2) {
  width: 0;
  animation: btnTwoAct .5s;
}

.active > span:nth-child(3) {
  animation: btnThrAct .5s;
  transform: translate(0, -14px) rotate(-45deg);
}
.item {
  position: relative;
  /*background: #fff;*/
  padding: 15px 0;
  margin-left: 60px;
  z-index: 2;
}
.item:hover {
  z-index: 2;
}
.nav_box .item:hover a {
  color: #fff;
  opacity: 1;
}
/*.item_active:before {
  content: "";
  position: absolute;
  display: block;
  left: -60px;
  top: 50%;
  margin-top: -6px;
  width: 43px;
  height: 6px;
  background: #000;
}*/
/*.item:hover :before {
  content: "";
  position: absolute;
  display: block;
  left: -60px;
  top: 50%;
  margin-top: -6px;
  width: 43px;
  height: 6px;
  background: #000;
}*/
.item a{
  color: #000;
  text-decoration: none;
}
.nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 55px;
  text-align: left;
}
.nav_active {
  display: block;
}
.nav_box {
  width: 650px;
  padding: 0;
  margin: 120px auto 0 auto;
}
.nav_box:hover a {
  opacity: .1;
}
.nav {
  line-height: 1;
  
}
.cn {
  display: inline-block;
  margin-left: 10px;
  opacity: .2;
}
.mbg {
  display: none;
  width: 700px;height: 300px;background: #000;position: absolute;
  margin: -150px 0 0 -350px;
  z-index: 1;
}
@keyframes btnOne {
  0% {
    transform: translate(0, 12.5px) rotate(405deg);
  }
  50% {
    transform: translate(0, 12.5px) rotate(0deg);
    /*transform: translate(0, 0) rotate(0deg);*/
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  /*from {
    transform: translate(0, 12.5px) rotate(45deg);
  }
  to {
    transform: translate(0, 0) rotate(0deg);
  }*/
}

@keyframes btnOneAct {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    transform: translate(0, 12.5px) rotate(0deg);
    /*transform: translate(0, 0) rotate(0deg);*/
  }
  100% {
    transform: translate(0, 12.5px) rotate(405deg);
  }
}

@keyframes btnTwo {
  0% {
    width: 0;
    transform: translate(22.5px, 0);
  }
  30% {
    width: 0;
    transform: translate(22.5px, 0);
  }
  100% {
    width: 100%;
    transform: translate(0, 0);
  }
  /*from {
    width: 0;
    transform: translate(22.5px, 0);
  }
  to {
    width: 100%;
    transform: translate(0, 0);
  }*/
}

@keyframes btnTwoAct {
  0% {
    width: 100%;
    transform: translate(0, 0);
  }
  30% {
    width: 100%;
    transform: translate(0, 0);
  }
  100% {
    width: 0;
    transform: translate(22.5px, 0);
  }
  /*from {
    width: 100%;
    transform: translate(0, 0);
  }
  to {
    width: 0;
    transform: translate(22.5px, 0);
  }*/
}

@keyframes btnThr {
  0% {
    transform: translate(0, -14px) rotate(315deg);
  }
  30% {
    transform: translate(0, -14px) rotate(0deg);
    /*transform: translate(0, 0) rotate(0deg);*/
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
  /*from {
    transform: translate(0, -14px) rotate(-45deg);
  }
  to {
    transform: translate(0, 0) rotate(0deg);
  }*/
}

@keyframes btnThrAct {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  30% {
    transform: translate(0, -14px) rotate(0deg);
    /*transform: translate(0, 0) rotate(0deg);*/
  }
  100% {
    transform: translate(0, -14px) rotate(315deg);
  }
  /*from {
    transform: translate(0, 0) rotate(0deg);
  }
  to {
    transform: translate(0, -14px) rotate(-45deg);
  }*/
}